.searchBox {
    display: none;
}

@media screen and (min-width: 768px) {
    .searchBox {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    >input {
        background-color: #EFEFEF;
        border: none;
    }
}
}