.stats {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 20px;
    margin: 10px 0;
    &__wrapper {
        text-align: center;
        p {
            margin: 0;
        }
        .stats__stat {
            font-weight: bold;
        }
    }
}